.calendar-table {
  width: 100%;
}

.thead {
  &__days > th {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 8px;
    box-sizing: border-box;
    color: white;
  }

  &__divider > th {
    position: relative;
    top: 0;
    left: 0;


    &::after {
      content: '';
      height: 1px;
      top: 0;
      left: 0;
      position: absolute;
      background-color: hsla(0,0%,100%,.12);
      width: 100%;
    }
  }
}
