<table class="calendar-table">
  <thead class="thead">
    <tr class="thead__days">
      <th>пн</th>
      <th>вт</th>
      <th>ср</th>
      <th>чт</th>
      <th>пт</th>
      <th>сб</th>
      <th>вс</th>
    </tr>
    <tr class="thead__divider">
      <th colspan="7"></th>
    </tr>
  </thead>
</table>
