<div class="calendar">
  <app-calendar-header [calendarState]="calendarService.getCalendarState()"></app-calendar-header>
  <app-calendar-body [calendarState]="calendarService.getCalendarState()"></app-calendar-body>
</div>
