.years-btn {
  width: 100%;
  display: flex;
  align-items: center;

  &__arrow {
    width: 12px;
    height: 6px;
    background-color: white;
    clip-path: polygon(0 100%, 100% 100%, 50% 0, 0 100%);
    margin-left: 5px;
  }
}
