.month-btn {
  width: 100%;
  display: flex;
  align-items: center;

  &__arrow {
    width: 12px;
    height: 6px;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0);
    margin-left: 5px;
  }
}
