<div class="calendar-header">
  <div class="controls">
    <button class="controls__btn controls__btn_hover button" (click)="changeState()">
      <ng-template appAd></ng-template>
    </button>

    <div class="arrow-buttons">
      <button class="arrow-buttons__left arrow-button arrow-button_hover button">
        <div class="arrow arrow_left"></div>
      </button>

      <button class="arrow-buttons__right arrow-button arrow-button_hover button">
        <div class="arrow arrow_right"></div>
      </button>
    </div>
  </div>
</div>
