.calendar-header {
  padding: 8px 8px 0 8px;
  box-sizing: border-box;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5% 0;

  &__btn {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 0 16px;
    box-sizing: border-box;
    border-radius: 3px;
  }
}

.button {
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-buttons {
  display: flex;
}

.arrow-button {
  width: 40px;
  border-radius: 50%;
}

.arrow-button_hover, .controls__btn_hover {
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: .5s;
  }
}

.arrow {
  position: relative;
  top: 0;
  left: 0;

  &::after {
    content: '';
    width: 10px;
    height: 2px;
    top: 3px;
    left: 0;
    background-color: white;
    position: absolute;
    transform: rotate(45deg);
  }

  &::before {
    content: '';
    width: 10px;
    height: 2px;
    top: -3px;
    left: 0;
    background-color: white;
    position: absolute;
    transform: rotate(-45deg);
  }

  &_left {
    transform: translate(-7px, -1px);
  }

  &_right {
    transform: rotate(0.5turn) translate(-7px, -1px);
  }
}
